ACTION=="add", KERNEL=="sd[b-z][0-9]", RUN+="/var/www/pelicano/protected/commands/shell/checkExternalStorages.sh"

ACTION=="remove", KERNEL=="sd[b-z][0-9]", RUN+="/var/www/pelicano/protected/commands/shell/checkExternalStorages.sh"
