.grid-view-loading
{
	background:none;
}

.grid-view
{
	padding: 15px 0;
	border-radius: 6px;
	border: 1px solid black;
	width: 95%;	 
	
	background: 		rgba(0,0,0,0.6);
	-moz-box-shadow:    3px 3px 5px 6px black;
	-webkit-box-shadow: 3px 3px 5px 6px black;
  	box-shadow:         3px 3px 5px 6px black;

}

.grid-view table.items
{
background: none;
border-bottom: 1px solid #B1B1B1;
border-collapse: separate;
border-spacing: 0px;
color: #606060;
width: 100%;

}


.grid-view table.items th, .grid-view table.items td
{
	font-size: 1em;
	padding: 0.3em;
}


.grid-view table.items tr
{
	width: 100%;	 
	background: none;
	
}

.grid-view table.items th
{
	color: white;
	text-align: center;
	width: 95%;	 
	background: none;
	
}

.grid-view table.items th a
{
	color: #EEE;
	font-weight: bold;
	text-decoration: none;
}

.grid-view table.items th a:hover
{
	color: #FFF;
}

.grid-view table.items th a.asc
{
	background:url(up.gif) right center no-repeat;
	padding-right: 10px;
}

.grid-view table.items th a.desc
{
	background:url(down.gif) right center no-repeat;
	padding-right: 10px;
}

.grid-view table.items tr.even
{
	border-radius: 6px;
	background: rgba(27,27,120,0.3);
	border-bottom: 1px solid black;
	color: white;
}

.grid-view table.items tr.odd
{
	border-radius: 6px;
	background: rgba(27,27,200,0.3);
	border: 1px solid black;
	color: white;
}

.grid-view table.items tr.selected
{
	background: rgba(200,27,27,0.3);
}

.grid-view table.items tr:hover
{
	background: rgba(200,27,27,0.3);
}

.grid-view .link-column img
{
	border: 0;
}

.grid-view .button-column
{
	text-align: center;
	width: 60px;
}

.grid-view .button-column img
{
	border: 0;
}

.grid-view .checkbox-column
{
	width: 15px;
}

.grid-view .summary
{
	margin: 0 0 5px 0;
	text-align: right;
}

.grid-view .pager
{
	margin: 5px 0 0 0;
	text-align: right;
}

.grid-view .empty
{
	font-style: italic;
}

.grid-view .filters input,
.grid-view .filters select
{
	width: 100%;
	border: 1px solid #ccc;
}