ACTION=="add", RUN+="/var/www/pelicano/protected/commands/shell/checkExternalStorages.sh"

ACTION=="remove", RUN+="/var/www/pelicano/protected/commands/shell/checkExternalStorages.sh"
