@font-face {
font-family: 'EntypoRegular';
src: url('entypo-webfont.eot');
src: url('entypo-webfont.eot?#iefix') format('embedded-opentype'),
     url('entypo-webfont.woff') format('woff'),
     url('entypo-webfont.ttf') format('truetype'),
     url('entypo-webfont.svg#EntypoRegular') format('svg');
font-weight: normal;
font-style: normal;
}

#Menu{ margin-top: 10px; margin-left:10px; margin-right:10px; border-bottom: 5px solid #9d9d00;}
#MenuLogo{ margin-left:10px;}

#Menu .navbar-search{ margin-right:10px;}
.iconFontButton{
	
		font-family: 'EntypoRegular';
}

.peliIcon a {
	color: #ffffff;
	text-shadow: 0 1px 0 #444444;
	/*border: 1px solid #057294;*/
	text-decoration: none;
	position: relative;
	/*line-height: 40px;*/
	font-weight: normal;
	text-align: center;
	/*padding: 8px 65px 9px 25px;*/
	/*background: #057294;
	background: -webkit-linear-gradient(top, #179cc6 0%, #057294 100%);
	background: -moz-linear-gradient(top, #179cc6 0%, #057294 100%);
	background: -o-linear-gradient(top, #179cc6 0%, #057294 100%);
	background: -ms-linear-gradient(top, #179cc6 0%, #057294 100%);
	background: linear-gradient(top, #179cc6 0%, #057294 100%);
	-webkit-border-radius: 30px 30px 30px 30px;
	-moz-border-radius: 30px 30px 30px 30px;
	border-radius: 30px 30px 30px 30px;
	-webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);*/
}
.peliIcon a:hover {
	/*background: #179cc6;
	background: -webkit-linear-gradient(top, #057294 0%, #179cc6 100%);
	background: -moz-linear-gradient(top, #057294 0%, #179cc6 100%);
	background: -o-linear-gradient(top, #057294 0%, #179cc6 100%);
	background: -ms-linear-gradient(top, #057294 0%, #179cc6 100%);
	background: linear-gradient(top, #057294 0%, #179cc6 100%);*/
}
.peliIcon a:active {
	position: relative;
  	top: 1px;
}
.peliIcon span {
	font-family: 'EntypoRegular';
	/*font-size: 55px;
	line-height: 20px;
	padding: 4px 0px 4px 1px;
	width: 37px;
	height: 30px;
	position: absolute;
	top: 7px;
	right: 9px;
	color: #ffffff;
	text-shadow: 0 1px 0 #444444;
	border: 1px solid #046988;
	background: #60b2cd;
	background: -webkit-linear-gradient(top, #046988 0%, #60b2cd 100%);
	background: -moz-linear-gradient(top, #046988 0%, #60b2cd 100%);
	background: -o-linear-gradient(top, #046988 0%, #60b2cd 100%);
	background: -ms-linear-gradient(top, #046988 0%, #60b2cd 100%);
	background: linear-gradient(top, #046988 0%, #60b2cd 100%);
	-webkit-border-radius: 17px 17px 17px 17px;
	-moz-border-radius: 17px 17px 17px 17px;
	border-radius: 17px 17px 17px 17px;
	-webkit-box-shadow: inset 0px 3px 6px rgba(5, 114, 148, 0.8);
	-moz-box-shadow: inset 0px 3px 6px rgba(5, 114, 148, 0.8);
	box-shadow: inset 0px 3px 6px rgba(5, 114, 148, 0.8);*/
}